.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App header {
  background-color: black;
}

.App h1 {
  color: white;
  line-height: 3em;
  margin: 0;
}

.App main {
  width: 80%;
  max-width: 800px;
  padding: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.App fieldset {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.App label:after {
  content: ": ";
}

.App table {
  width: 100%;
  border-collapse: collapse;
}

.App th,
td {
  border-bottom: 1px solid lightgray;
  padding: 0;
}